{% extends "Base/base.html" %}
        
{% block hero_content %}

{% include 'Base/navbar-light.html' %}

        <!-- Searchbar modal -->
        <dialog id="navbarSearch" class="modal rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 text-slate-900 dark:text-white w-11/12 max-w-5xl mt-20">
            <div class="relative w-full h-auto">
                <form method="dialog" class="modal-backdrop">
                    <button class="size-5 rounded-md flex justify-center items-center absolute top-0 end-0 btn-ghost"><i data-feather="x" class="size-4"></i></button>
                </form>
                <div class="p-6 text-center">
                    <form class="relative">
                        <i class="iconoir-search text-lg absolute top-2.5 end-0"></i>
                        <input type="text" class="w-full py-2 px-3 bg-transparent border-0 focus:ring-0 focus:outline-none rounded-md pe-6 h-10" name="s" id="searchItem" placeholder="Search...">
                    </form>
                </div>
            </div>
        </dialog>
        <!-- Searchbar modal -->

        <!-- Start Hero -->
        <section class="relative table w-full py-32 lg:py-44 bg-[url('../..//static/assets/images/bg/3.jpg')] bg-no-repeat bg-center bg-cover">
            <div class="absolute inset-0 bg-black opacity-80"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 text-center mt-10">
                    <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white mb-3">
                        {% if blog.title %}
                            {{ blog.title }}
                        {% else %}
                            The Future of Remote Work: Trending Now
                        {% endif %}
                    </h3>

                    <ul class="list-none mt-6">
                        <li class="inline-block text-white/50 mx-5"> <span class="text-white block">Author :</span> <span class="block">Calvin Carlo</span></li>
                        <li class="inline-block text-white/50 mx-5"> <span class="text-white block">Date :</span> <span class="block">3rd Oct 2024</span></li>
                        <li class="inline-block text-white/50 mx-5"> <span class="text-white block">Time :</span> <span class="block">8 Min Read</span></li>
                    </ul>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <div class="relative">
            <div class="shape overflow-hidden z-1 text-white dark:text-slate-900">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->
        
        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-6">
                    <div class="lg:col-span-8 md:order-1 order-2">
                        <div class="relative overflow-hidden rounded-xl shadow dark:shadow-gray-800">

                            <img src="
                            {% if blog.img %}
                                {{ blog.img }}
                            {% else %}
                               /static/assets/images/course/1.jpg
                            {% endif %}" alt="">

                            <div class="p-6">
                                <p class="text-slate-400">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script.</p>
                                <p class="text-slate-400 italic border-x-4 border-violet-600 rounded-ss-xl rounded-ee-xl mt-3 p-3">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>
                                <p class="text-slate-400 mt-3">The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                            </div>
                        </div>

                        <div class="p-6 rounded-md shadow dark:shadow-gray-800 mt-6">
                            <h5 class="text-lg font-semibold">Leave A Comment:</h5>

                            <form class="mt-6">
                                <div class="grid lg:grid-cols-12 lg:gap-6">
                                    <div class="lg:col-span-6 mb-5">
                                        <div class="text-start">
                                            <label for="name" class="font-semibold">Your Name:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="user" class="size-4 absolute top-3 start-4"></i>
                                                <input name="name" id="name" type="text" class="w-full py-2 px-3 border border-slate-100 dark:border-slate-800 focus:border-violet-600/30 dark:focus:border-violet-600/30 bg-transparent focus:outline-none rounded-md h-10 ps-11" placeholder="Name :">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="lg:col-span-6 mb-5">
                                        <div class="text-start">
                                            <label for="email" class="font-semibold">Your Email:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="mail" class="size-4 absolute top-3 start-4"></i>
                                                <input name="email" id="email" type="email" class="w-full py-2 px-3 border border-slate-100 dark:border-slate-800 focus:border-violet-600/30 dark:focus:border-violet-600/30 bg-transparent focus:outline-none rounded-md h-10 ps-11" placeholder="Email :">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid grid-cols-1">
                                    <div class="mb-5">
                                        <div class="text-start">
                                            <label for="comments" class="font-semibold">Your Comment:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="message-circle" class="size-4 absolute top-3 start-4"></i>
                                                <textarea name="comments" id="comments" class="w-full py-2 px-3 border border-slate-100 dark:border-slate-800 focus:border-violet-600/30 dark:focus:border-violet-600/30 bg-transparent focus:outline-none rounded-md ps-11 h-28" placeholder="Message :"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="submit" name="send" class="h-10 px-5 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-violet-600 text-white w-full">Send Message</button>
                            </form>
                        </div>
                    </div><!--end col-->

                    <div class="lg:col-span-4 md:order-2 order-1">
                        <div class="sticky top-20 p-6 bg-white dark:bg-slate-900 rounded-md shadow dark:shadow-gray-700">
                            <form>
                                <div>
                                    <label for="searchname" class="font-semibold">Search Blog</label>
                                    <div class="relative mt-2">
                                        <i data-feather="search" class="absolute top-[10px] start-3 size-5"></i>
                                        <input name="search" id="searchname" type="text" class="w-full py-2 px-3 border border-slate-100 dark:border-slate-800 focus:border-violet-600/30 dark:focus:border-violet-600/30 bg-transparent focus:outline-none rounded-md h-10 ps-10" placeholder="Search">
                                    </div>
                                </div>
                            </form>

                            <div class="mt-6">
                                <h5 class="font-semibold">Recent Post</h5>
                                <div class="flex items-center mt-4">
                                    <img src="/static/assets/images/course/6.jpg" class="h-16 rounded-md shadow dark:shadow-gray-800" alt="">

                                    <div class="ms-3">
                                        <a href="" class="font-medium hover:text-violet-600">10 Things You About Real Estate</a>
                                        <p class="text-sm text-slate-400">2nd Oct 24</p>
                                    </div>
                                </div>
                                
                                <div class="flex items-center mt-4">
                                    <img src="/static/assets/images/course/7.jpg" class="h-16 rounded-md shadow dark:shadow-gray-800" alt="">

                                    <div class="ms-3">
                                        <a href="" class="font-medium hover:text-violet-600">Why We Love Real Estate</a>
                                        <p class="text-sm text-slate-400">2nd Oct 24</p>
                                    </div>
                                </div>
                                
                                <div class="flex items-center mt-4">
                                    <img src="/static/assets/images/course/8.jpg" class="h-16 rounded-md shadow dark:shadow-gray-800" alt="">

                                    <div class="ms-3">
                                        <a href="" class="font-medium hover:text-violet-600">110 Quick Tips About Real Estate</a>
                                        <p class="text-sm text-slate-400">2nd Oct 24</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6">
                                <h5 class="font-semibold">Social</h5>
                                <ul class="list-none mt-4">
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="twitter" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="linkedin" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="github" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="youtube" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-7 inline-flex justify-center items-center text-slate-400 hover:text-white border border-slate-100 dark:border-slate-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i data-feather="gitlab" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-6 text-center">
                    <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Related Posts</h4>

                    <p class="text-slate-400 max-w-xl mx-auto">Discover a world of knowledge and opportunities with our online education platform pursue a new career.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-6 gap-6">                    
                    
                    <!-- Components/home/blogs.html -->
                    {% include 'Components/home/blogs.html' %}

                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1">
                    
                    <!-- Components/courses/information.html -->
                    {% include 'Components/courses/information.html' %}

                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->
{% endblock %}